apiVersion: v1
kind: Service
metadata:
  name: logstash
spec:
  selector:
    app: logstash
  type: ClusterIP
  ports:
    - port: {{ .Values.logstash.service.port }}
      targetPort: {{ .Values.logstash.service.port }}